<p-panel header="Pipes numéricos" class="p-1">
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-4">
        <p-card header="Ventas netas" subheader="del presente anio">
            {{ (totalSells + 1235) | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ventas brutas" subheader="del presente anio">
            {{ totalSells | currency:'PEN':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ganancia porcentual" subheader="del presente anio">
            {{ percent | percent:'1.2-2' }}
        </p-card>
    </div>
</div>